<div class="container p-5 d-flex flex-column gap-3">

  <h1 href="#">Ngx input autocomplete</h1>

  <div class="d-flex flex-column">
    <label for="trigger">Trigger</label>
    <input id="trigger"
      class="form-control"
      placeholder="Trigger character"
      [(ngModel)]="triggerCharacter">
  </div>


  <ngx-text-autocomplete>
      <textarea NgxTextAutocomplete
                placeholder="Type {{triggerCharacter}} to search..."
                class="form-control"
                rows="5"
                [triggerCharacter]="triggerCharacter"
                [(ngModel)]="formControlValue"
                [keyboardShortcut]="shortcut"
                [findChoices]="findChoices"
                [getChoiceLabel]="getChoiceLabel">
      </textarea>
  </ngx-text-autocomplete>


</div>
